# Project exclude paths
/microcloud-api/target/
/microcloud-consumer/target/
/microcloud-consumer-ribbon/target/
/microcloud-eureka/target/
/microcloud-eureka2/target/
/microcloud-eureka3/target/
/microcloud-provider-product/target/
/microcloud-provider-product2/target/
/microcloud-provider-product3/target/
/microcloud-security/target/